extends layout

block content

  h2 Ticklers Folders
  ul.tickler-list
    a(href="/ticklers/January")
      li.tickler-folder January
        if ticklerGroups["January"]
          span.badge=ticklerGroups["January"].length
    a(href="/ticklers/February")
      li.tickler-folder February
        if ticklerGroups["February"]
          span.badge=ticklerGroups["February"].length
    a(href="/ticklers/March")
      li.tickler-folder March
        if ticklerGroups["March"]
          span.badge=ticklerGroups["March"].length
    a(href="/ticklers/April")
      li.tickler-folder April
        if ticklerGroups["April"]
          span.badge=ticklerGroups["April"].length
    a(href="/ticklers/May")
      li.tickler-folder May
        if ticklerGroups["May"]
          span.badge=ticklerGroups["May"].length
    a(href="/ticklers/June")
      li.tickler-folder June
        if ticklerGroups["June"]
          span.badge=ticklerGroups["June"].length
    a(href="/ticklers/July")
      li.tickler-folder July
        if ticklerGroups["July"]
          span.badge=ticklerGroups["July"].length
    a(href="/ticklers/August")
      li.tickler-folder August
        if ticklerGroups["August"]
          span.badge=ticklerGroups["August"].length
    a(href="/ticklers/September")
      li.tickler-folder September
        if ticklerGroups["September"]
          span.badge=ticklerGroups["September"].length
    a(href="/ticklers/October")
      li.tickler-folder October
        if ticklerGroups["October"]
          span.badge=ticklerGroups["October"].length
    a(href="/ticklers/November")
      li.tickler-folder November
        if ticklerGroups["November"]
          span.badge=ticklerGroups["November"].length
    a(href="/ticklers/December")
      li.tickler-folder December
        if ticklerGroups["December"]
          span.badge=ticklerGroups["December"].length
    a(href="/ticklers/1")
      li.tickler-folder 1
        if ticklerGroups["1"]
          span.badge=ticklerGroups["1"].length
    a(href="/ticklers/2")
      li.tickler-folder 2
        if ticklerGroups["2"]
          span.badge=ticklerGroups["2"].length
    a(href="/ticklers/3")
      li.tickler-folder 3
        if ticklerGroups["3"]
          span.badge=ticklerGroups["3"].length
    a(href="/ticklers/4")
      li.tickler-folder 4
        if ticklerGroups["4"]
          span.badge=ticklerGroups["4"].length
    a(href="/ticklers/5")
      li.tickler-folder 5
        if ticklerGroups["5"]
          span.badge=ticklerGroups["5"].length
    a(href="/ticklers/6")
      li.tickler-folder 6
        if ticklerGroups["6"]
          span.badge=ticklerGroups["6"].length
    a(href="/ticklers/7")
      li.tickler-folder 7
        if ticklerGroups["7"]
          span.badge=ticklerGroups["7"].length
    a(href="/ticklers/8")
      li.tickler-folder 8
        if ticklerGroups["8"]
          span.badge=ticklerGroups["8"].length
    a(href="/ticklers/9")
      li.tickler-folder 9
        if ticklerGroups["9"]
          span.badge=ticklerGroups["9"].length
    a(href="/ticklers/10")
      li.tickler-folder 10
        if ticklerGroups["10"]
          span.badge=ticklerGroups["10"].length
    a(href="/ticklers/11")
      li.tickler-folder 11
        if ticklerGroups["11"]
          span.badge=ticklerGroups["11"].length
    a(href="/ticklers/12")
      li.tickler-folder 12
        if ticklerGroups["12"]
          span.badge=ticklerGroups["12"].length
    a(href="/ticklers/13")
      li.tickler-folder 13
        if ticklerGroups["13"]
          span.badge=ticklerGroups["13"].length
    a(href="/ticklers/14")
      li.tickler-folder 14
        if ticklerGroups["14"]
          span.badge=ticklerGroups["14"].length
    a(href="/ticklers/15")
      li.tickler-folder 15
        if ticklerGroups["15"]
          span.badge=ticklerGroups["15"].length
    a(href="/ticklers/16")
      li.tickler-folder 16
        if ticklerGroups["16"]
          span.badge=ticklerGroups["16"].length
    a(href="/ticklers/17")
      li.tickler-folder 17
        if ticklerGroups["17"]
          span.badge=ticklerGroups["17"].length
    a(href="/ticklers/18")
      li.tickler-folder 18
        if ticklerGroups["18"]
          span.badge=ticklerGroups["18"].length
    a(href="/ticklers/19")
      li.tickler-folder 19
        if ticklerGroups["19"]
          span.badge=ticklerGroups["19"].length
    a(href="/ticklers/20")
      li.tickler-folder 20
        if ticklerGroups["20"]
          span.badge=ticklerGroups["20"].length
    a(href="/ticklers/21")
      li.tickler-folder 21
        if ticklerGroups["21"]
          span.badge=ticklerGroups["21"].length
    a(href="/ticklers/22")
      li.tickler-folder 22
        if ticklerGroups["22"]
          span.badge=ticklerGroups["22"].length
    a(href="/ticklers/23")
      li.tickler-folder 23
        if ticklerGroups["23"]
          span.badge=ticklerGroups["23"].length
    a(href="/ticklers/24")
      li.tickler-folder 24
        if ticklerGroups["24"]
          span.badge=ticklerGroups["24"].length
    a(href="/ticklers/25")
      li.tickler-folder 25
        if ticklerGroups["25"]
          span.badge=ticklerGroups["25"].length
    a(href="/ticklers/26")
      li.tickler-folder 26
        if ticklerGroups["26"]
          span.badge=ticklerGroups["26"].length
    a(href="/ticklers/27")
      li.tickler-folder 27
        if ticklerGroups["27"]
          span.badge=ticklerGroups["27"].length
    a(href="/ticklers/28")
      li.tickler-folder 28
        if ticklerGroups["28"]
          span.badge=ticklerGroups["28"].length
    a(href="/ticklers/29")
      li.tickler-folder 29
        if ticklerGroups["29"]
          span.badge=ticklerGroups["29"].length
    a(href="/ticklers/30")
      li.tickler-folder 30
        if ticklerGroups["30"]
          span.badge=ticklerGroups["30"].length
    a(href="/ticklers/31")
      li.tickler-folder 31
        if ticklerGroups["31"]
          span.badge=ticklerGroups["31"].length
