extends layout

block content
  .row
    .div(class="col s3")
        .collection
          each curCat in categories
            a(class= curCat.active ? "active collection-item" : "collection-item", href="/ticklers/#{curCat.id}")=curCat.displayName
              if curCat.count
                span.badge=curCat.count
      .div(class="col s9", id="tickler-files")
        .row
          .div(class="col s11")
            h2= category
          .div(class="col s1")
            a(class="btn btn-floating btn-large waves-effect waves-light green lighten-1 h2-button modal-trigger", href="#addTicklerModal")
              i(class="material-icons") add
        .row
          each tickler in ticklers
            .card
              .card-content
                span(class="card-title grey-text")= tickler.desc
                p=tickler.details

  .div(id="addTicklerModal", class="modal")
    .modal-content
      h4 Create a new tickler for #{category}
      form(class="col s12", id="login", method="post", action="/ticklers/create")
        input(type="hidden", name="cat", value="#{category}" readonly)
        .row
          .div(class="input-field col s12")
            input(type="text", placeholder="Description", name="desc")
            label(for="desc") Description:
        .row
          .div(class="input-field col s12")
            label(for="details") Details:
            textarea(class="materialize-textarea", placeholder="Details", name="details")
        .row
          button(class="btn waves-effect waves-light" type="submit" name="action") Create
block scripts
  script.
    $(document).ready(function() {
      $('.modal-trigger').leanModal();
      $('select').material_select();
    });
